.under-construction-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 638px;
    background-color: #efefef;
}
.under-construction-block p {
    font-family: "OpenSans Regular", sans-serif;
    color: #666666;
    margin-top: 5%;
}
.under-construction-block img {
    height: 300px;
    width: 300px;
    margin-top: 5%;
}